# Una forma profesional de crear un archivo gitignore es utilizando la pagina 
# https://www.toptal.com/developers/gitignore/ 
# en la cual se escribe el sistema operativo, el editor de código o la tecnología a utilizar y nos mostrara 
# en pantalla una sugerencia de como crear el archivo de forma mas detallada.